<div id="articles-list">
    <div>
        <div>
            <h4>Headline 1 goes here</h4>
        </div>
        <div>
            The body goes here
        </div>
    </div>
    <hr />
    <div>
        <div>
            <h4>Headline 2 goes here</h4>
        </div>
        <div>
            The body goes here
        </div>
    </div>
    <hr />
    <div>
    	<div>
    		<h4>Headline 3 goes here</h4>
    	</div>
    	<div>
    		The body goes here
    	</div>
    </div>
</div>